*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
   background-color: rgba(9, 29, 49, 0.85);
   padding: 0px 100px;
   width: 100%;
   height: 141px;
   line-height: 75px;
   position: fixed;
   z-index: 1;

}

nav h1{
position: absolute;
width: 734px;
height: 79px;
left: 34px;
top: 23px;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 44px;
font-family: 'Ruda', sans-serif;
color: #9BC9FF;
}
.menu ul {
    position: absolute;
    top: 70%;
    left: 87%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.menu ul li {
    list-style: none;
    margin: 0 10px;
}
.menu ul li .far {
    color:#ffff;
    font-size: 25px;
    line-height: 5px;
    transition: .10s;
}
.menu ul li .fas {
    color:#ffff;
    font-size: 25px;
    line-height: 5px;
    transition: .10s;
}
.menu ul li .fa:hover {
    color: #ffffff;
}
.menu ul li a {
    position: relative;
    display: block;
    width: 74px;
    height: 44px;   
    border-radius: 14px;
    background-color: #121827;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}
.menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}

.container{
    position: absolute;
    top:  700px;
    left: 700px;
    transform: translate(-50%,-50%);
}
.container h1 {
    color: #9BC9FF;
    font-weight: 100;
    font-size: 28px;
    padding: 10px;
    border: 1px solid #000;
    background-color: rgba(9, 29, 49, 0.85);;
}
table {
    width: 500px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #000;
}
th{
    text-align: left;
}

td:hover{
    color: #55608f;
}
.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info .info-box{
    position: relative;
    top: 200px;
    width: 350px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.info .info-box .fas{
position:relative;
width: 80px;
height: 80px;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
border-radius: 50%;
font-size: 40px;
font-weight: 700;
transition: 1s;
}
.info .info-box:nth-child(1) .fas{
    box-shadow: 0 0 0 0 #e91e63;
    background:#e91e63 ;
}
.info .info-box:nth-child(1):hover .fas{
    box-shadow: 0 0 0 400px #e91e63;
}
.info .info-box:nth-child(2) .fas{
    box-shadow: 0 0 0 0 #23e629;
    background:#23e629 ;
}
.info .info-box:nth-child(2):hover .fas{
    box-shadow: 0 0 0 400px #23e629;
}

.info .info-box .content{
    position: relative;
    z-index: 1;
    transition: 0.5s;
    overflow: hidden;
}
.info .info-box:hover .content{
  color: #fff;
}
.info .info-box .content h3{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;;
}
.info .info-box .content h4{
    margin: 0;
    padding: 0;
}
.info .info-box .content a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    overflow: hidden;
}